{{ range .menu }}
  <li class="sidebar-button">  
    {{ if and (or (in .URL "://") (in .URL "mailto:") (in .URL "tel:") (in .URL "callto:") (in .URL "skype:")) (not (and $.root.Site.BaseURL (in .URL (printf "%s" $.root.Site.BaseURL)))) }}
      <a class="sidebar-button-link {{ if eq .Identifier "search" }}open-algolia-search{{ end }}" href="{{ .URL | safeURL }}" target="_blank" rel="noopener" title="{{ .Name }}">
    {{ else }}
      <a class="sidebar-button-link {{ if eq .Identifier "search" }}open-algolia-search{{ end }}" href="{{ .URL | relLangURL }}" title="{{ .Name }}">
    {{ end }}
      <img class="sidebar-button-icon" aria-hidden="true" src="{{ .Pre | relURL }}" alt="icone pour chaque section">    
      <span class="sidebar-button-desc" style="font-weight:700; text-shadow: 2px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;">{{ .Name }}</span>
    </a>
  </li>
{{ end }}
