<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
      <div class="sidebar-profile">
        <a href="{{ if $.Site.Params.sidebar.profile.url }}{{ $.Site.Params.sidebar.profile.url }}{{ else }}{{ "/#about" }}{{ end }}" aria-label="{{ i18n "global.read_more_about_author"}}">
          <picture><source class="sidebar-profile-picture" srcset="{{ .Site.Author.logodesktop | relURL }}" media="(min-width: 800px)"><img class="sidebar-profile-picture" src="{{ .Site.Author.logomobile | relURL }}" alt="logo AAMC"></picture>
        </a>
        <h4 style="background: transparentize(white, 0.8); backdrop-filter: blur(20px);" class="sidebar-profile-name">{{ $.Site.Author.name }}</h4>
        {{ with $.Site.Author.bio }}
          <h5 style="background: transparentize(white, 0.8); backdrop-filter: blur(20px);" class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
    </ul>
  </div>
</nav>
