{{ partial "head.html" . }}
<style>
  .form-control {
    border-radius: 5px;
    padding: 0 15px 2px;
    height: 40px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: black;
  }
  
  .btn_custom {
    border-radius: 20px;
    padding: 0 15px 2px;
    height: 100px;
    color: blue;
  }

  #message {
    padding-top: 3%;
  }
</style>
  <body>
    <div>
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">

               <div>
                <div style="margin-left:5%">
                  <h1>{{ .Title }}</h1>
                  <div>
                    {{ .Content }}
                    <ul>
                      <ul style="display:flex; align-items:center"><img style="margin-right: 5%;" height="60" width="60" src="{{ .Params.iconEmail | relURL }}" alt="{{ .Params.altEmail }}" /><a href="mailto:{{ .Site.Data.contact.email }}">
                          {{ .Params.email }}</a></ul>
                    </ul>
                  </div>
                </div>
              </div>
              <div style="margin-left:5%; margin-top: 5%;">
                 <div>
                    <div>
                    <form name="AAMCcontact" action="/merci/" method="POST" accept-charset="UTF-8" netlify-honeypot="AAMC-bot-field" data-netlify="true">
                      <input type="hidden" name="form-name" value="AAMCcontact">
                      <input style="display:none" name="AAMC-bot-field">
                      <div>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Votre Nom" required>
                      </div>
                      <div>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Votre Adresse Email" required>
                      </div>
                      <div>
                        <input type="tel" class="form-control" name="phone" id="email" placeholder="Votre Téléphone (facultatif)">
                      </div>
                      <div>
                        <input type="text" name="subject" id="subject" class="form-control" placeholder="Sujet" required>
                      </div>
                      <div>
                        <textarea class="form-control" name="message" id="message" placeholder="Plus d'informations, Adhésion, Donation ?" required
                          style="height: 150px;"></textarea>
                      </div>
                      <div>
                        <button class="btn--medium btn--primary" type="submit">Envoyer</button>
                      </div>
                   </form>
                  </div>
                </div>
              </div>
              

               {{ partial "footer.html" . }}
      </div>
      <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        {{ partial "post/actions.html" . }}
      </div>
      {{ partial "post/share-options.html" . }}
    </div>
{{ partial "foot.html" . }}
